#info {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  white-space: pre-line;
}

body {
  background: black;
}

button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 20px;
  font-size: 20px;
}